body{
    background-color: #404040;
}

.ul-icons{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 10px;
}

.icon{
    height: 40px;
}