.main-container{
    background-color: #ffff;
    width: 30%;
    border-radius: 16px;
    height: auto;
    text-align: center;
    margin-top: 80px;
}

.main{
    justify-content: center;
    display: flex;
    align-items: center;  
    
}
.create-account{
    margin-top: 20px;
}

@keyframes jiggle {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .jiggle-animation {
    animation: jiggle 0.5s ease;
  }

