.overflow-x-auto {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-x: auto;
  }
  
  .overflow-x-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  